html {
    vertical-align: 0px;
}

body {
    border: solid;
    padding: 5px;
    position: absolute;
}

#header {
    text-align: center;
}

#menu div {
    display: block;
    background-color: lightgray;
    margin: 5px 2px;
}

#profile {
    border-radius: 50%; 
}

progress {
    width: 80%;
    height: 22px;
  }
  progress::-webkit-progress-bar {
      background-color: blue;
  }
  progress::-webkit-progress-value {
      background-color: #0000ff;
  }

