html {
    vertical-align: 0px; 
}

body {
    /* border: solid; 
    padding: 5px; 
    position: absolute; */
} 

#header {
    text-align: center;
}

#menu div {
    display: block;
    background-color: lightgray;
    margin: 5px 2px;
}

#cv, #portfolio {
    text-align: center;
}

#project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

#space {
    margin-top: 200px;
}

#profile {
    border-radius: 50%; 
}

/* tried to use the HTML5 progress lib with progress tag */
progress {
    width: 80%;
    height: 25px;
}

